<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs', {title: title}); %>

<body class="bg-info">

  <%- include('../partials/navbar.ejs', {title: 'Project Manager'}); %>

  <div class= "container Absolute-Center is-Responsive bg-light" >
    <div class="row">

      <form id="loginForm">
        <h1 class="h1 text-center">Login</h1>

          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <p>You don't have a account? <a href="/login/creer">sign up</a></p>
      </form>

  </div>

  <% include ../partials/footer %>
  <% include ../partials/scripts %>

</body>

<link rel="stylesheet" href="stylesheets/login.css">

<script type="text/javascript">
const createForm = document.querySelector("#loginForm");
const createURL = "http://localhost:3000/login";

createForm.addEventListener('submit', handleLoginForm);

function handleLoginForm(){
  let inputEmail = $('#inputEmail').val();
  let inputPassword = $('#inputPassword').val();

  let login = {
    email: inputEmail,
    password: inputPassword,
  };

  fetch(createURL, {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body:JSON.stringify(login)
  });
}

</script>

 </html>
