<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', {title: title}); %>
  <body>
    <%- include('partials/navbar.ejs', {title: title}); %>

       <!-- Begin page content -->
       <main role="main" class="container">
         <h1 class="mt-5">Welcome to our manager!</h1>
<<<<<<< HEAD
         <p><a class="btn btn-primary" href="#" role="button">New Project</a></p>

       </main>

       <footer class="footer">
         <div class="container">
           <span class="text-muted"></span>
         </div>
       </footer>



    <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
   <script>
       const config = {
         apiKey: "AIzaSyC-0azPBpoSpT1AfPI85FTDT-vb0Q3CDlY",
         authDomain: "conduiteprojet2018-ubx.firebaseapp.com",
         databaseURL: "https://conduiteprojet2018-ubx.firebaseio.com",
         projectId: "conduiteprojet2018-ubx",
         storageBucket: "conduiteprojet2018-ubx.appspot.com",
         messagingSenderId: "597745430634"
       };
       firebase.initializeApp(config);
  </script>
=======
         <p><a class="btn btn-primary" href="/projet/creer" role="button">New Project</a></p>
       </main>

   <% include partials/footer %>
   <% include partials/scripts %>
>>>>>>> db40ac4a595fca7d9594f6dee3bdfdf77576bdf7
  </body>
</html>
